
body
{
color: black;
background: white;

max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.bob
{
	background-color: rgb(300, 1, 1);
	color:black;
	border: none;
	height: 35px;
	width 105;
	border-radius: 2px;
	cursor: pointer;
}
.button-Max
{
	background-color: rgb(100, 100, 100);
	color: white;
	cursor: pointer;
}
